@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	font-family: var(--font-inter), var(--font-suwannaphum), sans-serif !important;
}

h1 {
    font-family: var(--font-bold-sans-serif-7);
}
